.options {
	background: #eee;
	border: 1px solid #666;
	margin: 10px;
}

.options-inside,
.controls-inside  {
	background: #fff;
	border-top: 1px solid #666;
	padding: 10px;
}

.options-title {
	padding: 10px 15px;
	margin: 0px;
	display: inline-block;
}

.option-controls
{
	float: right;
	padding: 10px 15px;
}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	max-width: 670px; 
}

.list-box-title {
	float: left;
	width: 47%;
	margin-left: 15px;
	font-weight: bold;
}

ul.list-box {
	border: 1px solid #eee;
	list-style-type: none;
	float: left;
	margin-right: 10px;
	padding: 5px;
	width:46%;
	min-height: 20px;
	max-height: 200px;
	overflow: auto;
}

.list-box li {
	padding-left: 5px;
}
.left-section-box {
	width:100%;
	max-width: 670px;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}