/* Style Sheet */
/* This defines styles and classes used in the book */
/* ---- Page ---- */
@page {
    margin-top: 30px;
    margin-bottom: 20px;
}
body { 
	margin-left: 5%; 
	margin-right: 5%; 
	margin-top: 5%; 
	margin-bottom: 5%;
	font-family: serif;
}

/* ---- Headers ---- */
h1 { font-size: 174%;}
h2 { font-size: 156%;}
h3 { font-size: 140%;}
h4 { font-size: 126%;}
h5 { font-size: 114%;}
h6 { font-size: 104%;}

h1, h2, h3, h4, h5, h6 {
	page-break-after:avoid;
	-webkit-hyphens: none;
	adobe-hyphenate: none;
	text-align: left;
	margin: .75em 0 .75em;
}

p {
	text-indent: 1.5em each-line;
	margin: 0 0 .75em;
}

/* ---- Lists ---- */
ol.decimal {list-style-type: decimal;}
ol.upper-alpha {list-style-type: upper-alpha;}
ol.lower-alpha {list-style-type: lower-alpha;}
ol.upper-roman {list-style-type: upper-roman;}
ol.lower-roman {list-style-type: lower-roman;}
ol.toc {list-style-type: none;}
ul.degree-list{list-style-type: none; margin: 0; padding: 0;}
ul.disc {list-style-type: disc;}
ul.circle {list-style-type: circle;}
ul.square {list-style-type: square;}
ul.none {list-style-type: none;}
li {
    line-height: 1.5em;
    text-align: left;
}

/* ---- Table ---- */
table {
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 4px;
}
table.border, table.border th, table.border td {
    border: 1px solid black;
}

/* ---- CSUN ---- */
.campuses-the-california-state-university p{
	text-indent: 0;
	margin: .75em 1em;
	page-break-inside: avoid;
}

.office-of-the-chancellor p, .university-administration p,
.colleges-degrees-and-accreditation p{
	page-break-listinside:avoid;
}

/* ---- General Education --- */
.pattern-modifications p{
	text-indent: 0;
	margin: 1.5em;
}

ul.ge-course-list{
	list-style-type: none; 
	padding: 0;
	margin: 0;
}

/* ---- Courses of Study ---- */

.course-of-study h1 { font-size: 170%;}
.course-of-study h2 { font-size: 150%;}
.course-of-study h3 { font-size: 135%;}
.course-of-study h4 { font-size: 120%;}
.course-of-study h5 { font-size: 110%;}
.course-of-study h6 { font-size: 100%;}

.course-of-study h1 .subhead { font-size: 75%; }
.course-of-study h2 .subhead { font-size: 90%; }

.course-of-study .subhead { 
	display: block; 
}

.course-of-study .contact {
	font-weight: bold;
}

.course-of-study .contact p{
	text-indent: 0;
}

.course-of-study h1, .course-of-study h2, .course-of-study h3,
.course-of-study h4, .course-of-study h5, .course-of-study h6
{
	text-align: left;
	margin-bottom: .25em;
	margin-top: .5em;
}

.course-of-study .faculty h3, .course-of-study .emeriti h3
{
	font-style: italic;
	font-size: medium;
}

.course-of-study .program-list ul {
	margin:0;
	list-style-type: none;
}

.course-of-study .program-list h4 {
	font-size: 95%;
}

.course-of-study .department-info p{
	margin-left: 0em;
}

.course-of-study .program h4, .course-of-study .program h5,
.course-of-study .program h6 {
	margin-left: 1.5em;
}

.course-of-study .program h3.subtitle {
	font-size: 115%;
}

.course-of-study .program p {
	margin-left: 1.5em;
	text-indent: 0;
}

.course-of-study .program ol, .course-of-study .program ul{
	margin-left: 2em;
}

.course-of-study h4.units-statement {
	margin-left: .75em;
	font-weight: bold;
	font-size: 110%;
}

.course-of-study .courses h2{
	text-align: left;
	border-bottom: solid 5px #5e5e5e;
	margin-top: 20px;
}

.course-of-study .courses h4 {
	font-weight: bold;
	font-size: 105%;
	margin: .5em .5em 0;
}

.course-of-study .courses p {
	margin-left: 0.5em;
	text-indent: 0;
}

.policies.course-of-study h2 {
	font-size: 115%;
}

.policies.course-of-study h3{
	font-size: 105%;
	font-family: serif;
}

/* ---- Policies ---- */
.policies h2 {
	font-size: 125%;
}

.policies h3 {
	font-size: 110%;
	font-family: sans-serif;
	font-weight: 600;
	margin-left: 1em;
}

.policies h4 {
	font-size: 105%;
	margin-left: 1em;
}

.policies h5 {
	font-size: 100%;
	margin-left: 1em;
}

.policies p {
	margin-left: 1em;
}

.policies ol, .policies li {
	margin-left: .25em;
}

/* ---- Faculty ---- */
.faculty p{
	text-indent:0;
	font-size: small;
	margin: .10em 0;
}
.faculty h2{
	text-indent:0;
	font-size: medium;
	margin: 0.75 0 0;
}